@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root {
    --form-control-color: rebeccapurple;
  }


*{
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.confirmWin, .confirmLoose, .rules{
    z-index: 1;
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    transition: all .2s;
}
.confirmBox, .rulesBox, .rulesBox{
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(255,255,255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: black 0px 0px 10px;
}

.rulesBox{
    width: 700px;
    height: 404px;
    overflow: auto;
}

.text-l{
    text-align: left;
}
.true{
    background-color: black !important;
}
.almost {
    background-color: #FFFFFF !important;
}
body{
    background: rgb(14,17,17);

}

#title{
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-top: 2rem;
}

.container{
    display:flex;
    width: 600px;
    margin: 0 auto;
    height: 800px;


}
.fw{
    width: 100% !important;
}
#S_right{
    position: relative;
    right: 0;
    background-color: rgba(255,255,255,.1);
    border-radius: 0 10px 10px 0;

}
#S_left{
    position: relative;
    left: 0;
    background-color: rgba(255,255,255,.1);
    border-radius: 10px 0 0 10px;
    border-right: solid 2px rgba(255,255,255,.2);
}
.w-200{
    width:200px;
}

.w-600{
    width:600px;
}
.box{
    height: 800px;

}
#answer{
    height: 85px;
    margin: 20px auto;
    background-color: rgba(255,255,255,.1);
}

.btn{
    outline: none;
    border: none;
    background-color: #FFECEF;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    transition: all .3s;
    border-radius: 10px 10px 0px 0px;
}

.btn:hover{
    transition: all .3s;
    background-color: #FFCACA;
    cursor: pointer;
}
.w-150{
    width: 150px;
}
.b-10{
    border-radius: 10px;
}
.m5{
    margin: 5px;
}
#submit{
    border-radius: 0 0 10px 10px;
    background-color: rgba(232,232,232,0.11);
    color: white;
}

.indicator{
    outline: none;
    padding: 10px;
    border-radius: 60px;
    background-color: rgba(255,255,255,.1);
    width: 25px;
    height: 25px;
    border: none;
}
.selector{
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 60px;
    background-color: rgba(255,255,255,1);
    width: 25px;
    height: 25px;
}
.low-border{
    border: 2px solid white !important;
}
.low-op{
    opacity: .5;
    border:none !important;
}
.m20{
    margin: 23px 30px;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.try{
    margin: 25px;
}
.hidden{
    display: none;
    transition: all .2s;
}

.active{
    background-color: rgba(255,255,255,1);
}

.bg-light{
    border-radius: 10px;
    background-color: rgba(0,0,0,.1);
    width: min-content;
    padding: 10px;
    margin: 0 auto;
}

/* Color classes */

.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.violet{
    background-color: violet;
}
.black{
    background-color: black;
}


.hover:hover{
    opacity: 1;
    cursor: pointer;
}