@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

html{
	background:url("../data/bg.png") repeat-y rgba(33, 2, 22,1);
	color: white;
	font-family: 'Cabin', sans-serif;
}


.row{
	display: flex;
	flex-direction: row;
}
.line{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

h3{
	font-size: 1.5em;
	font-weight: bold;
	margin-right: 40px;
	width: 50%;
}

.line *{
	text-align: left;
}
.lang{
	width: 100%;
}
.cell{
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px;
}
.cells-stack{
	border-radius: 10px;
	background-color: rgba(255,255,255,0.03);
}
.title{
	margin-bottom: 40px;
	text-align: center;
}
.cell:hover{
	transition: all .3s;
	background-color: rgba(255,255,255,0.1);
	cursor: pointer;
}
.cell:first-child:hover{
	border-radius: 10px 10px 0 0;
}
.cell:last-child:hover{
	border-radius: 0 0 10px 10px;
}

.container-body{
	margin: 70px auto;
	width: 60%;
}
#name{
	text-align: center;
	width: auto;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 4rem;
}

//media query
@media screen and (max-width: 1000px) {
	.container-body, .cells-stack{
		width: 100%;
		margin: 0;
	}
}