@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.pp_style{
    z-index: 10;
    width: 70%;
    border-radius: 1000px;
    box-shadow: #FFFFFF 0 0 0 0;
}
.cursor{
    z-index: 0;
    width:  1100px;
    height: 1100px;
    border-radius: 1000px;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform:  translate(calc(-50% + 15px), -50%);
    opacity: 1;
    filter: blur(50px);
}

canvas{
    background:hsla(0,0%,0%,1);
}




