@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&family=Sono:wght@300&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');

/*****ROOT*******/
:root{
    --big-title: 360px;
    --normal-title: 19px;
    --little-title: 16px;
    --content-width: 900px;
    --text-lower: 23px;
    --tabs-text-label: 28px;
    --title-load: 150px;
    --title-load-low: calc(var(--title-load) - 90px);
}
*{
    padding: 0;
    margin: 0;
    line-height: 1.4;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Jost', sans-serif;
    user-select: none;
    z-index: 10;
}
body{
    background-color: #0f0f12;
}



/**********UTILS*********/

.relat_h1{
    position: relative;
    top: 0;
    left: 0;
    font-size: var(--title-load);
    color: #fff;
    z-index: 1100;
    overflow: hidden;
}
.relat_h2{
    position: relative;
    top: 0;
    left: 0;
    font-size: var(--title-load-low);
    color: #fff;
    z-index: 1100;
    overflow: hidden;
}
.perk_load_container{
    margin: 20px 0;
}
.onload_window{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2D3748;
    z-index: 1000;
}

#loadPage{
    background-color: #892600;
    position: absolute;
    z-index: 1000;
    top: -4500px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 0.75s cubic-bezier(.71,1,.33,1) 300ms;
}


.anim-enter{
    top: 0 !important;
    transition: all 0.75s cubic-bezier(.71,0,.33,1.56) 0ms;
}

.shade-gradient {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 150px;
    width: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(7,13,14,0.4150035014005602) 50%, rgba(7,13,14,0) 100%);
    z-index: 1;
}
/***********************/

/*********GLOBAL********/
.cv_btn{
    padding: 10px;
    font-size: 20px;
    margin-top: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: all 0.3s;
    background-color: #892600;
}
.cv_btn:hover{
    transition: all 0.3s;
    color:  #892600;
    background-color: white;
}
.link{
    text-decoration: none;
    color: black;

}
.shd{
    text-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.post{
    color: snow;
}
.post_title{
    color: #a3da51;
}
.taches{
    color: snow;
}
.taches_title{
    color: #51da88;
}
.lieu{
    color: snow;
}
.lieu_title{
    color: #515ada;
}
.f-col{
    display: flex;
    flex-direction: column;
}
.close_projet{
    z-index: 20;
}
.close_projet:hover{
    transition: all .2s;
    transform: rotate(-45deg);
    color: #ea5600;
    cursor: pointer;
}

.row_projets label+.close_projet{
    transition: all .2s;
    transform: rotate(135deg);
}

.title_projet{
    font-family: 'DM Sans', sans-serif;
    font-size: 40px;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
}
.close_projet {
    display: flex;
    justify-content: end;
    font-size: 70px !important;
    margin-left: auto;
    color:white!important;
    transform: rotate(45deg);
    animation: transform .2s ease-in-out;
    padding: 0;
}
.material-symbols-outlined {
    color : #581845;
    justify-content: center;
    font-variation-settings:
            'FILL' 40,
            'wght' 100,
            'GRAD' 100,
            'opsz' 10;
}
.full-hidden{
    display: none !important;
    visibility: collapse !important;
}

.about-text{
    mix-blend-mode: difference;
    margin: 50px 0 !important;
    color: #FAD5A5;
    width: var(--content-width);
    transition: all .2s;

}
.about-text p {
    margin: 20px 0;
    text-align: center;
    font-size:var(--normal-title);
    font-family: 'Rubik Mono One', sans-serif;
}
.f-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.h-100{
    height: 100%;
}
.relative_tr__logo{
    position: absolute;
    bottom: 4px;
    z-index: 1000;
    left: 10px;
    width: 40px;
    height: 40px;
    transform: rotate(0deg);
    transition: all .3s ease-in-out;
}


.f-end{
    display: flex;
    align-content: end;
}

.date-text{
    font-size: 18px;
    margin-left: 10px;
    color: #fac480;
    text-align: left;
    padding: 0;
}

.set-project_text{
    display: flex;
    align-items: center;
}
.row_projets{
    flex-wrap: wrap;
    font-size: 30px;
    display: flex;
    padding: 10px;
    width: 100%;
    border-bottom: rgba(255,255,255,.3) solid 1px;
    border-top: rgba(255,255,255,.3) solid 1px;

}

.row_projets label {
    transition: all .2s;
    transform: translateX(0px);
}

.row_projets label:hover{
    transition: all .2s;
    transform: translateX(15px);
    color: #ea5600;
    cursor: pointer;
}
.row_projets label:hover+.close_projet{
    transition: all .2s;
    transform: rotate(-45deg);
}
.overflow-hidden{
    overflow: hidden !important;
}
body{
    height: 100%;
}

p{
    margin: 0!important;
}

.tabs_radio{
    display: none;
}
.tabs_content{
    color: wheat;
    font-size: 23px;
    transform-origin: top;
    padding: 10px;
}
.tabs_content > a{
    margin: 0;
    color: #ffa4a4;
}

.hide_content {
    opacity: 0;
    transform: scale(1, 0);
    transition: all .2s;

}
.show_content {
    opacity: 1;
    transform: scale(1, 1);
    transition: all .2s;
}
.tabs_radio:checked+.tab_label{
    color : #ea5600;
}

.label__add{
    font-size: var(--tabs-text-label);
    margin: 15px;
    color:#FFA8A8;
    transition: all .3s;
    padding: 10px;
}
.nav__tabs{
    backdrop-filter:blur(40px) brightness(.7);
    border-radius:10px ;
    width: auto;
    height: 95px;
}
.f-row_s{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.left__element_tabs p{
    font-size: 23px!important;
}
.label__add:hover{
    transform: translateY(-3px);
    transition: all .3s;
}
.label__add:hover{
    cursor: pointer;
}
.tabs_radio:checked+.label__add{
    border-bottom: 6px #FF5C5C solid;
    -moz-border-radius-bottomleft: 10px;
}
.nav__tabs{
    display: flex;
    justify-content: left ;
    width: var(--content-width);
    overflow: hidden;
    transition: all .2s;
}

.contents__containers{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 350px;

}
.f-end{
    position: relative;
    bottom: 0;
    color: wheat !important;
}
.left__element_tabs{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.left__element_tabs p, .right__element_tabs p{
    margin: 10px;
    font-size: 17px;
    color: wheat;
}
.right__element_tabs{
    display: flex;
    justify-content: right;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.tabs__skills_contents{
    height: 350px;
    width: 100%;
}
.label__add:hover{
    color: #ea5600;
}
.container__skills{
    width: var(--content-width);
    transition: all .2s;

}
.tabs_radio:checked+.tab_label+.tabs_content{
    display: initial;
}
.projet_container_row *{
    overflow: hidden;
}
.projet_container_row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: var(--content-width);
    height: 100%;
    padding: 0;
    transition: all .2s;
}
/*******************************/

/*********COMPETENCES***********/
label, p,.tabs__skills_contents, .label__add {
    overflow: hidden !important;
}
.img_logo_perk{
    display: block;
    max-width: 230px;
    max-height:95px;
    width: auto;
    height: auto;
    margin: 4px;
}
.label_perk{
    color: wheat;
    margin: 3px;
    font-size: 20px;
}
.perk_load{
    margin:10px;
    height: 10px;
    background-color: #51da88;
    border-radius: 10px;
}

/*******************************/

/*****HOME*******/

#title_home_container{
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    align-items: center;
    flex-direction: column;
}
#title_home_container h1{
    font-family: 'Six Caps', sans-serif;
    color: #ea5600;
    z-index: 10;
    font-size: var(--big-title);
    display: flex;
    justify-content: center;
    width: auto;
    transition: all .2s;
}
#title_home_container h2{
    transition: all .2s;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: var(--little-title);
    color: 	#FFDEAD;
    margin-bottom: 30px;
}

/***************************/

/********PROJETS***********/

.btn-tabs{
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    border: none;
    outline: none;
    background-color: wheat;
    font-size: 20px;
    display: flex;
    transition: all .2s ease-in-out;
}
.btn-tabs:hover{
    transition: all .2s ease-in-out;
    cursor: pointer;
    background-color: #ffc977;
    width: max-content;
}

.tabs_arrow{
    font-size: 30px !important;
}
/*************************/


/*****CONTACT*******/

.contact{
    width: 30px;
}
.contact__container{
    width: var(--content-width);
}
.contact__container *{
    width: 100%;
}
textarea:focus, input:focus{
    outline: none;
}
textarea, input{
    border: none!important;
}
.input_contact::placeholder{
    font-size: 30px;
    opacity: .2;
    color: wheat;
}
.input_contact[type=text], .input_contact[type=email]{
    font-size: 30px;
    color: wheat;
    padding: 10px;
}
.input_contact {
    padding: 10px;
    background-color: transparent;
}
.label_contact{
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    color: #fff;
    text-align: left;
    margin: 10px;

}
.send_btn{
    width: auto;
    font-size: 60px!important;
    color: wheat!important;
    padding: 10px;
    border-radius: 100px;
    border: 2px solid wheat !important;
    transition: all .2s;
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,0);


}
.send_btn:hover{
    transform: scale(.8);
    background-color: #ea5600;
    color: #fff;
    border: 2px solid #ea5600 !important;
    cursor: pointer;
    transition: all .2s;
}
/*******************************************/



/***************FORMATION*****************/

.text-lower{
    font-size: var(--text-lower) !important;
}

/******************************************/

/***************RESPONSIVE*****************/
@media only screen and (max-width: 1016px) {
    :root{
        --big-title:260px;
        --normal-title: 20px;
        --little-title: 18px;
        --content-width: 100%;
        --text-lower: 17px;
        --tabs-text-label: 19px;
        --title-load: 100px;
        --title-load-low: calc(var(--title-load) - 60px);
    }
    .text-lower{
        font-size: 35px !important;
    }

    .btn-tabs{
        font-size: 30px;
    }
    .tabs_content{
        font-size: 40px;
    }
    .tabs_arrow{
        font-size: 50px !important;
    }
    .pp_style{
        width: 100px;
    }
    .resp_pp{
        width: 500px;
    }
    #rgpd{
        transform: scale(1.7) translate(-30%, -30%);
        transform-origin: center;
        width: 100%;
    }
    .projet_container_row{
        width: 100%;
    }
    .projet_container_row label{
        font-size: 50px;
    }
    .date-text{
        font-size: 30px;
    }
    .contact__container{
        width: 100%;
    }
    .row_projets{
        justify-content: center;
    }
    .contact__container *, .contact__container *::placeholder, .contact__container *[type=text], .contact__container *[type=email]{
        font-size: 70px;
        margin: 10px;
    }
    .contact__container input{
        height: 100px;
    }
    .send_btn{
        font-size: 150px!important;
        overflow: hidden !important;
    }

    .nav__tabs{
        height: 78px;
    }
    .clickable-square{
        top:50px!important;
        right: 50px!important;
    }
    .resume-btn,.clickable-square{
        transform: scale(2);
        transition: all .2s;
    }
    .menu-container{
        transform: scale(1.8) !important;
        right: 20px!important;
        top: 330px!important;

    }
    .menu-container a{
        text-decoration: none !important;
    }
    .about-text{
        margin: 0;
    }
}
@media only screen and (max-height: 1090px) {
    :root{
        --big-title: 200px;
        --normal-title: 20px;
        --little-title: 12px;
        --content-width: 650px;
        --text-lower: 17px;
        --tabs-text-label: 19px;
        --title-load: 100px;
        --title-load-low: calc(var(--title-load) - 60px);
    }
    .nav__tabs{
        height: 78px;
    }
    .clickable-square{
        top:20px!important;
        right: 20px!important;
    }
    .resume-btn,.clickable-square{
        transform: scale(1.2);
        transition: all .2s;
    }
    .send_btn{
        overflow: hidden !important;
    }
}
@media only screen and (max-height: 1090px) {
    .pp_style{
        display: none;
        visibility: collapse;
    }
}
/***************************************/

/*****************MENU*****************/
.resume-btn{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #ffdead ;
    color: #ea5600 !important;
    width: 40px;
    height: 40px;
    border: solid 1px transparent;
    padding: 10px;
    user-select: none;
    border-radius: 10px;
    font-size: 40px !important;
    transition: all .2s;
}
.clickable-square{
    font-size: 38px !important;
    z-index: 100;
    right: 10px;
    top: 10px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffdead ;
    color: #ea5600 !important;
    padding: 10px;
    border: solid 1px transparent;
    user-select: none;
    transition: all .2s;
}
.clickable-square:hover, .resume-btn:hover{
    cursor: pointer;

}
.clickable-square:active, .resume-btn:active{
    background-color: #ffffff;
    transform: scale(.95);

}
.menu-container{
    z-index: 100;
    -webkit-box-shadow: 0 0 23px 7px rgba(0,0,0,0.1);
    box-shadow: 0 0 23px 7px rgba(0,0,0,0.1);
    transform-origin: right;
    transform: translateX(0px);
    transition: all .2s ease-in-out;
    opacity: 1;
    user-select: none;
    text-align: center;
    width: 200px;
    position: fixed;
    right: 10px;
    top: 90px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    flex-direction: column;

}
#nav_github, #nav_linkedin{
    background-color: rgba(174,196,255,0.4);
}
#nav_github:hover, #nav_linkedin:hover{
    background-color: rgba(174,196,255,0.6);
}

.menu-container a{
    padding: 20px;
    color: black;
}

.menu-container a:hover{
    background-color: rgb(255 157 157 / 50%);
    cursor: pointer;
    transition: all .1s ease-in-out;
    text-decoration: underline;

}
.menu-container a:first-child {
    border-radius: 10px 10px 0 0;
}
.menu-container a:last-child{
    border-radius: 0 0 10px 10px;

}


/*********************************/

/**************RGPD***************/
.rgpb__box{
    overflow: hidden!important;
    backdrop-filter: blur(10px);
    z-index: 100;
    border: solid 2px orangered;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    height: auto;
    background-color: rgba(255, 62, 0, 0.6);
    border-radius: 10px 10px 0 0;
    color: wheat;
}
.rgpb__box *{
    overflow: hidden !important;
}

#cookie_enable:hover+#cookie_logo{
    transform: rotate(180deg) !important;
    transition: all .5s ease-in-out;
}

.rgpd__text{
    padding: 44px;
    font-size: 26px;
    text-align: center;
    display: flex;
    justify-content: center;
    transform: rotate(0deg) !important;


}
.rgpd__btn:hover{
    transition: all .4s ease-in-out;
    transform: rotate(180deg) !important;


}

.rgbp__btn__container{
    z-index: 20 !important;
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    width: 50px;
    height: 50px;
    overflow: hidden !important;
}
.rgpd__btn{
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 37px;
    color: wheat;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all .2s ease-in-out;

}
.rgpd__btn:hover{
    color: white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

/*********************************/


/****DELETED ? ****/



.hidden{
    opacity: 0;
    transform-origin: top right;
    transform: translateX(250px) !important;
}