@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    z-index: 10;

}

.cursor {
    z-index: 0;
    width: 1000px;
    height: 1000px;
    border-radius: 1000px;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform:  translate(calc(-50% + 15px), -50%);
    filter: blur(100px);
}

canvas{
    background:hsla(0,0%,0%,1);
}




